<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/style_index.css"/>
    <link rel="stylesheet" href="css/style.css">
    
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    
    <title>Rashômon : Chat</title>
</head>
<body>
  <input type="text" name="idUser" value="<%= id %>" hidden>
  <input type="text" name="role" id="role" value="<%= role %>" hidden>
  <div class="bl-notif-message"></div>
    <div class="container-fluid m-0 p-0">
        <div class="row mr-0 ml-0">
            <div class="nav-left row col-lg-6 col-md-8 col-sm-12 col-xs-12 pl-0 pr-0 m-0">
                <div class="left-one col-lg-6 col-md-6 col-sm-6 col-xs-6 p-0">
                    <div class="head-left">
                        <a href="https://rashomon-international.com/" target="_blank"><img src="img/logo.png" width="45px" alt=""></a>
                        <div class="title-sc">
                            <label for="">Rashômon</label>
                            <label for="" class="int">International</label>
                        </div>
                    </div>
    
                    <div class="content-left-one-profile">
                        <div class="content-left">
                           <img src="img/profil_.png" width="55px" alt="">
                           <i class="fa fa-circle me"></i>
                            <div class="left-profil">
                                <label for=""><%= mail %></label><br>
                                <label for="" class=""><%= tel %></label>
                                <input type="text" id="telUser" value="<%= tel %>" hidden>
                            </div>
                        </div>
                    </div>
    
                    <div class="content-left-one">
                        <div class="content-left r-nav-menu">
                           <ul class="">
                                <li class="r-nav-menu_ r-nav-menu_2 active">
                                    <i class="fa fa-address-book"></i>
                                    Contact
                                </li>
                                <li class="r-nav-menu_ r-nav-menu_1">
                                    <i class="fa fa-send"></i>
                                    Campaignes
                                </li>
                                <li class="r-nav-menu_ r-nav-menu_3">
                                    <i class="fa fa-envelope"></i> 
                                    Boîte de réception &nbsp;&nbsp;<span class="badge badge-danger notif-sms"></span>
                                </li>
                                <li class="r-nav-menu_ r-nav-menu_4">
                                    <i class="fa fa-history"></i>
                                    Historiques
                                </li>
                                <li class="r-nav-menu_ r-nav-menu_5">
                                    <i class="fa fa-power-off"></i>
                                    <a href="/logout">Déconnexion</a>
                                </li>
                           </ul>
                        </div>
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="left-two col-lg-6 col-md-6 col-sm-6 col-xs-6 p-0">
                    <!-------------------------------------------
                    ----------------- CAMPAIGNS ----------------
                    ----------------------------------------- -->
    
                    <div id="rCampaigne" class="dNone">
                        <div class="head-left">
                            <i class="fa fa-send"></i> 
                            <span>Campaignes</span> 
                        </div>
                        
                        <div class="content-left-one">
                            <div class="content-left">
                                <form id="send_sms" class="send-form send-new-sms" >
                                    <div class="">
                                        <label for="">A</label> <span class="name-dest"></span>
                                        <input type="tel" name="number" id="number" class="form-control form-control-sm dest numberTo" placeholder="Destinataire">
                                        <input type="text" name="tempNameContact" id="tempNameContact" class="form-control form-control-sm" hidden disabled>
                                        <select id="select-contact" class="js-example-basic-single form-control" name="state"></select>
                                    </div>
                                    <div class="text-message mt-3">
                                        <label for="">Votre message</label>
                                        <textarea name="messageContent" id="messageContent" class="form-control form-control-sm" cols="30" rows="10" placeholder="Votre texte ici"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="load"></div>
                                        <div class="sent-message"></div>
                                        <button type="button" class="btn action-send btn-send">
                                            <i class="fa fa-send"></i>&nbsp;&nbsp; 
                                            Envoyer
                                        </button>
                                        <button type="button" class="btn action-send-2 btn-send">
                                            <i class="fa fa-send"></i>&nbsp;&nbsp; 
                                            Envoyer
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
    
                    <!-------------------------------------------
                    ----------------- CONTACT ----------------
                    ----------------------------------------- -->
    
                    <div id="rContact" class="dBlock">
                        <div class="head-left">
                            <i class="fa fa-address-book"></i> 
                            <span>Contact</span> 
                        </div>
                        
                        <div class="content-left-one">
                            <%- include('include/_contact'); %>
                        </div>
                    </div>
    
                    <!-------------------------------------------
                    ----------------- INBOX ----------------
                    ----------------------------------------- -->
                    <div id="rInbox" class="dNone">
                        <div class="head-left">
                            <i class="fa fa-envelope"></i> 
                            <span>Boîte de réception</span> 
                            
                            <a class="refresh-pg" title="Actualiser">
                                <i class="fa fa-refresh"></i>
                            </a>
                        </div>
                        
                        <div class="content-left-one">
                            <%- include('include/_inbox') %>
                        </div>
                    </div>
    
                    <!-------------------------------------------
                    ----------------- HISTORIQUES ----------------
                    ----------------------------------------- -->
                    <div id="rHistory" class="dNone">
                        <div class="head-left">
                            <i class="fa fa-history"></i>
                            <span>Historiques</span>
                        </div>
                        
                        <div class="content-left-one">
                            <%- include('include/_historique') %>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="content-right col-lg-6 col-md-4 col-sm-12 col-xs-12 m-0 p-0 sms-content">
                <%- include('include/_chatContent') %>
            </div>
        </div>
        
    </div>

    <div id="myModalExport" class="modal">
        <!-- Modal content -->
        <div class="modal-content-export">
            <form enctype="multipart/form-data">
              <div class="form-group bl-table">
                  <table id="tblData">
                      <thead class="header-table">
                        <tr>
                            <td>Date</th>
                            <td>Destinataire</th>
                            <td>Expediteur</th>
                            <td>Message</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                  </table>
              </div>
              <div class="action-foot_">
                  <button type="button" class="btn btn-info btn-export">Exporter</button>
              </div>
          </form>
        </div>
      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="js/chatClient.js"></script>
    <script src="js/nav-action.js"></script>
    <script src="js/contact.js"></script>

    <script>
        $(document).ready(function(){
            //const HOST_ = "http://192.168.88.18"; 
            const HOST_ = "http://172.29.205.191"; 

            $('.btn-export').on('click', function(){
                var nameClient = $("#tempNameClient").val();
                var date_ = new Date();

                var name_file = nameClient+'_'+date_;
                exportData('tblData', name_file)
            })

            function exportData(tableID, filename=""){
                var downloadLink;
                var dataType = 'application/vnd.ms-excel';
                var tableSelect = document.getElementById(tableID);
                var tableHTML = tableSelect.outerHTML.replace(/ /g,'%20');

                filename = filename?filename+'.xls':'excel_data.xls';

                downloadLink = document.createElement('a');

                document.body.appendChild(downloadLink);

                if(navigator.msSaveOrOpenBlob){
                    var blob = new Blob(['\ufeff', tableHTML], {
                        type: dataType
                    });
                    navigator.msSaveOrOpenBlob(blob, filename);
                }else{
                    downloadLink.href = "data:" + dataType + ', ' + tableHTML;

                    downloadLink.download = filename;

                    downloadLink.click();
                }
            }

            $("ul.inbox li ul.list li .body-sms").each(function(){
                var nbCaractereSMS = $(this).find("p").text();
                if(nbCaractereSMS.length >= 25 ){
                    var valeur = nbCaractereSMS.substring(0,25);
                    $(this).find("p").html(valeur + " ...");
                }
            })
            
            var role = $('#role').val();

            if(role=="0"){
                $(".rl button").remove();
            }else{
                $(".rl button").remove();
                $(".rl").append('<button class="btn-GU"><a href="'+HOST_+'/lst-user">Gestion des utilisateurs</a></button>');
            }

            ////////////////////////////////////
            ///// Gestion des buttons send /////
            ////////////////////////////////////
            $(".btn-send").attr('disabled', true);
            $(".send-new-sms textarea#messageContent").keyup(function(){
                if($(this).val() == ""){
                    $(".send-new-sms .btn-send").attr('disabled', true);
                }else{
                    $(".send-new-sms .btn-send").attr('disabled', false);
                }
            })

            $('.form-answer textarea#messageContentAs').keyup(function(){
                if($(this).val() == ""){
                    $(".form-answer .btn-send").attr('disabled', true);
                }else{
                    $(".form-answer .btn-send").attr('disabled', false);
                }
            })

                $('#searchbar').keyup(function(){
                    search_contact();
                })

                function search_contact() {
                    let input = document.getElementById('searchbar').value
                    input=input.toLowerCase();
                    let x = document.getElementsByClassName('lg-story');
                    
                    for (i = 0; i < x.length; i++) { 
                        if (!x[i].innerHTML.toLowerCase().includes(input)) {
                            x[i].style.display="none";
                        }
                        else {
                            x[i].style.display="list-item";                 
                        }
                    }
                }
            })
      </script>

</body>
</html>